<div class="content">
<h1>ブログ一覧</h1>

 <p><%= notice %></p>

   <li>タイトル</li>
   <li>内容</li>
   
 <% @blogs.each do |blog| %>
  <div class="col-xs-12 col-md-6 blog_panel">
   <h2><%= blog.title %></h2>
   <p><%= blog.content %></p>
   <div class="blog_links">
    <%= link_to'詳細',blog_path(blog.id), class: 'btn btn-info' %>
    <%= link_to'編集',edit_blog_path(blog.id), data:{ confirm:'本当に編集していいですか？' }, class: 'btn btn-success' %>
    <%= link_to'削除',blog_path(blog.id), method: :delete ,data:{ confirm:'本当に削除していいですか？' }, class: 'btn btn-warning' %>
   </div >
  </div>
 <% end %>
  
<%= link_to'新しくブログを投稿する',new_blog_path %>
</div>